.dpt{
    position: relative;
    left: 720px;
    bottom: 470px;
    font-size: 16px;
}
.dpt1{
    position: relative;
    left: 720px;
    bottom: 455px;
    font-size: 16px;
    width: 80px;
}

.amt{
    position: relative;
    bottom:570px;
    color: white;
    left: 500px;
}