.dpt{
   position: relative;
   left: 420px;
   bottom: 550px;
   font-size: 13px;
   width: 100px;
  height: 25px;
  border-radius: 4px;
}
.cash{
   position: relative;
   left: 690px;
   bottom: 573px;
   font-size: 13px;
   width: 120px;
  height: 25px;
  border-radius: 4px;
}

.fastcash{
   position: relative;
   left: 420px;
   bottom: 560px;
   font-size: 13px;
   width: 100px;
  height: 25px;
  border-radius: 4px;
}
.mini{
   position: relative;
   left: 690px;
   bottom: 584px;
   font-size: 13px;
   width: 120px;
  height: 25px;
  border-radius: 4px;
}
.pin{
   position: relative;
   left: 420px;
   bottom: 565px;
   font-size: 13px;
   width: 100px;
  height: 25px;
  border-radius: 4px;
}
.bal{
   position: relative;
   left: 690px;
   bottom: 596px;
   font-size: 13px;
   width: 120px;
  height: 25px;
  border-radius: 4px;
}
.exit{
   position: relative;
   left: 690px;
   bottom: 582px;
   font-size: 13px;
   width: 120px;
  height: 25px;
  border-radius: 4px;
}
.amt{
   position: relative;
   bottom:570px;
   color: white;
   left: 500px;
}