
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: rgb(12, 112, 151);
        }

        .container {
            /* display: flex; */
            position: relative;
            z-index: 1;

            justify-content: center;
            /* margin-top: px; */
            /* align-items: center; */
        }

        .backimage {
            height: 200px;
            width: 500px;
            border: 3px transparent black;
            /* display: flex; */
            justify-content: center;
            align-items: center;
        }

        .bs {
            height: 600px;
            width: 240%;
            margin-top: 30px;
            padding-right: 50px;
            border-radius: 10px;
            /* border-radius: 3px soild black ; */

        }

        .bank {
            height: 150px;
            width: 150px;
            margin-left: 500px;
            margin-top: -170px;

            /* padding-bottom: 100px; */
        }

        h1 {
            text-align: center;
            color: white;
            /* padding-left: 200px; */
            /* padding-top: 200px; */


        }

        .card {
            padding: 20px;
            width: 100%;
            max-width: 400px;
            margin-top: 20px;
            margin-left: 390px;
            background-color: transparent; /* Remove white background */
            /* border: 1px transparent white; Optional: add a white border to keep the form's edges visible */
        }

        .ravi {
            color: white;
            font-size: 20px;
        }

        .black {
            color: white;
            font-size: 20px;
            background-color: transparent;
        }
        .card1{
            height: 150px;
            width: 150px;
            margin-left:950px;
            /* margin-bottom: 600px; */
            margin-top: -200px;
        }
        .formcontainer{
            border-radius: 10px;
        }
         
